<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TRABAJO API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="black">
    <!-- navbar -->
    <div class="navbar-fixed">
        <nav class="black" style="background-image:url(IMG/fondo.png) ">
            <div class="nav-wrapper white-text" style="margin-left: 3%">
                <a class="brand-logo">Que nos vaiga bien! </a>
                <img src="IMG/tiay.jpg" style="margin-left: 20%; height: 100%; width: 5%;" class="circle">
                <!-- ICONO MENU -->
                <a href=" #" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <!-- ICONO MENU -->
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#0"><i class="material-icons left">home</i>HOME</a></li>
                    <li><a href="#1"><i class="material-icons left">brightness_2</i>HOROSCOPO</a></li>
                    <li><a href="#2"><i class="material-icons left">error_outline</i>QUIENES SOMOS</a></li>
                </ul>
            </div>
        </nav>
    </div>
    </head>
    <main>
        <div id="app">
            <!-- navbar -->
            <div id="0" class="section scrollspy">
                <ul id="slide-out" class="sidenav">
                    <li>
                        <div class="user-view">
                            <div class="background">
                                <img src="IMG/banerside.png">
                            </div>
                            <a href="#user"><img class="circle" src="IMG/tia.jpg"></a>
                            <a><span class="black-text name">Horoscopo Diario</span></a>
                            <a><span class="black-text email">max95hidalgo@gmail.com</span></a>
                        </div>
                    </li>
                    <li><a href="#0"><i class="material-icons left">home</i>HOME</a></li>
                    <li><a href="#1"><i class="material-icons left">brightness_2</i>HOROSCOPO</a></li>
                    <li><a href="#2"><i class="material-icons left">error_outline</i>QUIENES SOMOS</a></li>
                </ul>
            </div>
            <!-- navbar -->
            <!-- slider -->
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="IMG/aries.jpg"> <!-- random image -->
                        <div class="caption center-align">
                            <h3 class="yellow-text">ARIES</h3>
                            <h5>SALUD, DINERO Y AMOR</h5>
                        </div>
                    </li>
                    <li>
                        <img src="IMG/tauro.jpg"> <!-- random image -->
                        <div class="caption center-align">
                            <h3 class="yellow-text">TAURO</h3>
                            <h5>SALUD, DINERO Y AMOR</h5>
                        </div>
                    </li>
                    <li>
                        <img src="IMG/geminis.webp"> <!-- random image -->
                        <div class="caption center-align">
                            <h3 class="yellow-text">GEMINIS</h3>
                            <h5>SALUD, DINERO Y AMOR</h5>
                        </div>
                    </li>
                    <li>
                        <img src="IMG/cancer.jpg"> <!-- random image -->
                        <div class="caption center-align">
                            <h3 class="yellow-text">CANCER</h3>
                            <h5>SALUD, DINERO Y AMOR</h5>
                        </div>
                    </li>
                    <li>
                        <img src="IMG/leo.jpg"> <!-- random image -->
                        <div class="caption center-align">
                            <h3 class="yellow-text">LEO</h3>
                            <h5>SALUD, DINERO Y AMOR</h5>
                        </div>
                    </li>
                    <li>
                        <img src="IMG/virgo.jpg"> <!-- random image -->
                        <div class="caption center-align">
                            <h3 class="yellow-text">VIRGO</h3>
                            <h5>SALUD, DINERO Y AMOR</h5>
                        </div>
                    </li>
                    <li>
                        <img src="IMG/libra.jpg"> <!-- random image -->
                        <div class="caption center-align">
                            <h3 class="yellow-text">LIBRA</h3>
                            <h5>SALUD, DINERO Y AMOR</h5>
                        </div>
                    </li>
                    <li>
                        <img src="IMG/escorpio.webp"> <!-- random image -->
                        <div class="caption center-align">
                            <h3 class="yellow-text">ESCORPIO</h3>
                            <h5>SALUD, DINERO Y AMOR</h5>
                        </div>
                    </li>
                    <li>
                        <img src="IMG/sagitario.jpg"> <!-- random image -->
                        <div class="caption center-align">
                            <h3 class="yellow-text">SAGITARIO</h3>
                            <h5>SALUD, DINERO Y AMOR</h5>
                        </div>
                    </li>
                    <li>
                        <img src="IMG/capricornio.jpg"> <!-- random image -->
                        <div class="caption center-align">
                            <h3 class="yellow-text">CAPRICORNIO</h3>
                            <h5>SALUD, DINERO Y AMOR</h5>
                        </div>
                    </li>
                    <li>
                        <img src="IMG/acuario.jpg"> <!-- random image -->
                        <div class="caption center-align">
                            <h3 class="yellow-text">ACUARIO</h3>
                            <h5>SALUD, DINERO Y AMOR</h5>
                        </div>
                    </li>
                    <li>
                        <img src="IMG/picis.jpg"> <!-- random image -->
                        <div class="caption center-align">
                            <h3 class="yellow-text">PISCIS</h3>
                            <h5>SALUD, DINERO Y AMOR</h5>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- fin slider -->
            <div class="card-panel black" v-if="estado">
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
            <div class="row" style="background-image: url(IMG/2.jpg);">
                <div id="1" class="row section scrollspy">
                    <div class="col l6 m s12 offset-l3">
                        <div class="card-panel black center">
                            <h5 class="center blue-text">Selecciona Tu Signo</h5>
                            <h7 class="red-text" v-for="item in datosAPI">
                                {{item.titulo}}
                            </h7>
                            <br><br>
                            <table class="centered">
                                <tbody v-for="item in horoscopos">
                                    <tr>
                                        <td class="left blue-text" style="margin-left:20%;">
                                            <h6>{{item.nombre}}</h6>
                                        </td>
                                        <td class="center blue-text">
                                            <h6>{{item.fechaSigno}}</h6>
                                        </td>
                                        <td>
                                            <button @click="ver_modal(item)" class="btn-floating">
                                                <i class="material-icons blue">visibility</i></a>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Structure -->
            <div id="modal" class="modal">
                <div v-if="horoscopo_Modal !=null">
                    <div class="modal-content">
                        <h6 class="red-text">Fecha del signo</h6>
                        <p>{{horoscopo_Modal.fechaSigno}}</p><br>
                        <h6 class="red-text">En el Amor</h6>
                        <p>{{horoscopo_Modal.amor}}</p><br>
                        <h6 class="red-text" >En la salud</h6>
                        <p>{{horoscopo_Modal.salud}}</p><br>
                        <h6 class="red-text" >En el Dinero</h6>
                        <p>{{horoscopo_Modal.dinero}}</p><br>
                        <h6 class="red-text" >Tu color hoy es</h6>
                        <p>{{horoscopo_Modal.color}}</p><br>
                        <h6 class="red-text" >Tu numero hoy es</h6>
                        <p>{{horoscopo_Modal.numero}}</p><br>
                    </div>
                    <div class="modal-footer">
                        <a href="#1" class="modal-close waves-effect waves-green btn-flat">Salir</a>
                    </div>
                </div>
            </div>
            <div id="2" class="row section scrollspy">
                <footer class="page-footer  blue darken-4">
                    <div class="container">
                        <div class="row">
                            <div class="col l6 s12">
                                <h5 class="white-text">Que nos vaiga bien!</h5>
                                <p class="grey-text text-lighten-4">
                                    Diseñada por Maximiliano Andres Hidalgo Mansilla <br>
                                    max95hidalgo@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="footer-copyright">
                        <div class="container">
                            © 2019 Copyright
                            <a class="grey-text text-lighten-4 right" href="https://api.adderou.cl/tyaas/">API PUBLICA
                                TIA YOLI</a>
                        </div>
                    </div>
                </footer>
            </div>
    </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                estado: true,
                url: 'https://api.adderou.cl/tyaas/',
                horoscopos: [],
                datosAPI: [],
                horoscopo_Modal: null
            },
            methods: {
                async cargar() {
                    var respuestaAPI = await axios.get(this.url);
                    this.horoscopos = respuestaAPI.data.horoscopo;

                    var respuestaAPI2 = await axios.get(this.url);
                    this.datosAPI = respuestaAPI2;
                    //this.datos      = respuestaAPI;  // CAPTURA DE API EN OBJETO LOCAL
                    console.log(respuestaAPI.data);
                    this.estado = false;
                },
                ver_modal(item) {
                    this.horoscopo_Modal = item;
                    var instance = M.Modal.getInstance(document.getElementById('modal'));
                    instance.open();
                }
            },
            created() { //primer metodo en ejecucion && carga de datos
                this.cargar();
            },
            mounted() {
                document.addEventListener('DOMContentLoaded', function () {
                    var elems = document.querySelectorAll('.modal');
                    var instances = M.Modal.init(elems);
                });
                var sidenav = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(sidenav);

                var slides = document.querySelectorAll('.slider');
                var instances = M.Slider.init(slides, {
                    indicators: false,
                    interval: 1500
                });
                var scroll = document.querySelectorAll('.scrollspy');
                var instances = M.ScrollSpy.init(scroll);
            }
        })
    </script>
</body>

</html>